.container {
  width: 1280px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(252, 241, 177);
}
.logo {
  padding: 63px 0 40px;
}
.logo-title {
  text-decoration: none;
  font-size: 80px;
  color: rgb(255, 160, 52);
}
.capital-letter {
  color: rgb(168, 0, 0);
}
.change {
  background-color: transparent;
  color: #b30145;
  font-size: 15px;
  padding: 10px;
  border: 1px solid #9b0910;
  border-radius: 30px;
  margin-left: 30px;
}
.nab-bar {
  background-color: #5f1600;
}
.navigation-menu {
  display: flex;
  justify-content: center;
}
.link {
  list-style-type: none;
  display: inline-block;
  padding: 26px 32px 19px 32px;
  font-size: 24px;
  color: rgb(253, 91, 91);
}
.link:hover {
  background-color: #702400;
}
.main {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 54px;
}
.aside-item {
  list-style-type: none;
  font-size: 27px;
  padding: 26px 0 26px 38px;
}
.aside-bar {
  width: 344px;
  border: 1px solid rgb(255, 178, 178);
  color: rgb(253, 91, 91);
}
.image-bordered {
  width: 885px;
}
.img {
  height: 529px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #810000;
}
.aside-item:hover {
  font-weight: bold;
  padding-left: 70px;
  background-color: #610000;
}
.article {
  padding-top: 25px;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  color: #250000;
}
.footer {
  box-sizing: border-box;
  background-color: rgba(150, 97, 0, 0.48);
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
}
.nav-footer {
  width: 875px;
  display: flex;
  justify-content: space-between;
}
.link-footer {
  padding: 20px 0;

  list-style-type: none;
}
.bright .link-footer {
  color: #ac8400;
}
.link-footer {
  color: rgb(255, 19, 19);
}
.link-footer:hover {
  color: rgb(167, 34, 11);
  text-decoration: underline;
}
.copyright {
  color: #521300;
}
