a {
  text-decoration: none;
  font-family: Ubuntu, sans-serif;
  color: white;
}
.container {
  margin: 0 auto;
  font-family: Ubuntu, sans-serif;
  background-image: url(../img/background_6.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  width: 100%;
}
.header:hover {
  background-color: black;
  opacity: 0.5;
  box-shadow: 0 6px 5px 0 rgb(0 0 0 / 80%);
}
.head-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  padding-left: 78px;
  z-index: 2;
}
.icon-calendar {
  padding-left: 40px;
}
.navigation-header {
  padding-right: 78px;
  display: flex;
  align-items: center;
}
.decor-line::before {
  content: "";
  width: 1px;
  height: 19px;
  border: 1px solid #ada9a9;
  margin: 0 27px;
}
.icon-header {
  padding: 0 17px;
}
.icon-header:hover {
  fill: #01813f;
}
.icon-compas {
  padding-right: 0px;
}
.hover-sector:hover {
  color: #01813f;
  transition: 0.4s;
}
.style-subscribe {
  font-size: 14px;
}
.sing-up {
  padding-left: 3px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92.5%;
}
.form {
  background-color: white;
  box-sizing: border-box;
  padding: 33px 60px 38px 60px;
  position: relative;
}
.interaction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}
.sing-up-form {
  font-size: 20px;
  color: #434343;
  cursor: pointer;
}
.form::before {
  content: " ";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0px;
  background-color: #3cb878;
}
.log-in-form {
  font-size: 14px;
  color: #3cb878;
  align-self: flex-end;
  cursor: pointer;
}
.log-in-form:hover {
  text-decoration: underline;
  color: #01813f;
}
.btn-networks {
  display: flex;
  gap: 4px;
}
.btn {
  border-radius: 3px;
  border: white;
  padding: 0px;
}
.btn-title {
  font-size: 16px;
  color: white;
  margin: 17px auto;
}
.icon-button {
  width: 13px;
  height: 24px;
  font-size: 21px;
  padding: 2px 17px;
  color: white;
}
.icon-button::after {
  content: " ";
  width: 1px;
  height: 28px;
  margin-left: 19px;
  border: 1px solid rgba(10, 22, 47, 0.1);
  box-shadow: 1px 0 1px 0 rgb(0 0 0 / 20%);
}
.btn-facebook {
  background-color: #305db8;
  width: 50%;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.btn-facebook:hover {
  background-color: #022263;
}
.icon-fb {
  box-shadow: 1.5px 0 0 0 rgb(0 0 0 / 2%);
  align-self: center;
  padding: 2px 18px;
}
.btn-google {
  background-color: #df4a32;
  width: 50%;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.btn-google:hover {
  background-color: #ab1f09;
}
.icon-google {
  box-shadow: 1.5px 0 0 0 rgb(0 0 0 / 2%);
  align-self: center;
  padding: 5px 12px;
}
.dividing-line {
  display: flex;
  justify-content: center;
  position: relative;
}
.divider {
  position: absolute;
  background-color: white;
  margin: 31px 5px 12px 5px;
  color: #848484;
  font-size: 14px;
  padding: 0 5px;
}
.dividing-line::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  box-shadow: 0 1.5px 0 0 rgb(0 0 0 / 10%);
  position: absolute;
  top: 36px;
}
.button-block {
  margin-top: 57px;
  margin-bottom: 12px;
  display: grid;
  grid-template-rows: repeat(5, 44px);
  grid-template-columns: 1fr;
  gap: 16px;
}
.button {
  border-radius: 5px;
  border: 1px solid rgb(228, 225, 225);
  background-color: white;
  cursor: pointer;
  padding-left: 20px;
}
.button:focus {
  color: #747474;
  border-color: #e9e9e9;
  outline: 0;
  box-shadow: 0px 2px 7px 2px rgb(0 0 0 / 10%);
}
.button::-webkit-input-placeholder {
  color: #bebebe;
}
.acceptance {
  box-sizing: border-box;
  color: #434343;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  padding: auto 30px 20px 3px;
}
.acceptance-link {
  cursor: pointer;
  color: #3cb878;
}
.acceptance-link:hover {
  color: #01813f;
  text-decoration: underline;
}
.button-create-account {
  width: 100%;
  height: 46px;
  margin-top: 20px;
  border-radius: 5px;
  border: white;
  background-color: #3cb878;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.button-create-account:hover {
  background-color: #01813f;
}
.checkbox-input {
  position: absolute;
  z-index: 2;
  opacity: 0;
  width: 124px;
}
.checkbox-input + .lable {
  position: relative;
  padding: 0 0 0 24px;
  cursor: pointer;
}
.checkbox-input + .lable::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid #e4e1e1;
  top: -1px;
  left: -1px;
}
.checkbox-input + .lable::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 12px;
  border: solid #3cb878;
  border-width: 0px 0px 2px 2px;
  box-sizing: border-box;
  transform: rotate(-50deg);
  top: -1px;
  left: 2px;
  z-index: -1;
}
.checkbox-input:checked + .lable::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 12px;
  border: solid #3cb878;
  border-width: 0px 0px 2px 2px;
  box-sizing: border-box;
  transform: rotate(-50deg);
  top: -1px;
  left: 2px;
  z-index: 3;
}
.checkbox-input:hover + .lable::after {
  border: solid #01813f;
  border-width: 0px 0px 2px 2px;
  transition: 0.2s;
}
.checkbox-text {
  cursor: pointer;
  color: #434343;
}
