.on-focus {
  margin-left: 10px;
  outline: none;
  border: 2px solid rgb(56, 95, 16);
}

.invalide-price {
  margin-left: 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgb(129, 15, 15);
}

.valide-price {
  list-style: none;
  margin: 10px 0;
  max-width: fit-content;
}

.input-text {
  color: chartreuse;
}

.list {
  padding: 0;
}
