<footer class="footer">
  <div class="footer__container _container">
    <h1 class="section__title-footer">- get in touch with us -</h1>
    <p class="footer__text">
      Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet
      sed donec malesuada ullamcorper odio.
      <span class="footer__text-hide"
        >Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span
      >
    </p>
    <nav class="footer__nav">
      <a href="wi-fi"
        ><img
          class="footer__nav-icon"
          src="@img/icon_footer_wi_fi_1.png"
          alt="wi_fi"
      /></a>
      <a href="facebook"
        ><img src="@img/icon_footer_facebook_2.png" alt="facebook"
      /></a>
      <a href="Twitter"
        ><img src="@img/icon_footer_Twitter_3.png" alt="Twitter"
      /></a>
      <a href="Dribbble"
        ><img src="@img/icon_footer_Dribbble_4.png" alt="Dribbble"
      /></a>
      <a href="Pinterest"
        ><img src="@img/icon_footer_Pinterest_5.png" alt="Pinterest"
      /></a>
    </nav>
    <p class="contact__footer">
      Moonshine St. 14-05 Light City / T. +00 (123) 456 78 90 /
      first.last@email.com
    </p>
  </div>
</footer>
