<header class="header _container">
  <nav class="header__menu-desktop menu-desktop">
    <ul class="menu-desktop__list">
      <li class="menu-desktop__item">
        <a href="#" class="menu-desktop__link">Home</a>
      </li>
      <li class="menu-desktop__item">
        <a href="#" class="menu-desktop__link">About Us</a>
      </li>
      <li class="menu-desktop__item">
        <a href="#" class="menu-desktop__link">Our Journal</a>
      </li>
      <li class="menu-desktop__item">
        <a href="#" class="menu-desktop__link">Projects</a>
      </li>
      <li class="menu-desktop__item">
        <a href="#" class="menu-desktop__link">news</a>
      </li>
      <li class="menu-desktop__item">
        <a href="#" class="menu-desktop__link">features</a>
      </li>
      <li class="menu-desktop__item">
        <a href="#" class="menu-desktop__link">contact</a>
      </li>
    </ul>
  </nav>

  <div class="humb _container">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <input class="nav__check-box" type="checkbox" name="nav" id="burger" />
  <label class="lable__for-checkbox" for="burger"></label>
  <!-- mobile-nav -->
  <nav class="header__menu-mobile">
    <ul class="menu-mobile__list">
      <li class="menu-mobile__item">
        <a href="#" class="menu-mobile__link">Home</a>
      </li>
      <li class="menu-mobile__item">
        <a href="#" class="menu-mobile__link">About Us</a>
      </li>
      <li class="menu-mobile__item">
        <a href="#" class="menu-mobile__link">Our Journal</a>
      </li>
      <li class="menu-mobile__item">
        <a href="#" class="menu-mobile__link">Projects</a>
      </li>
      <li class="menu-mobile__item">
        <a href="#" class="menu-mobile__link">news</a>
      </li>
      <li class="menu-mobile__item">
        <a href="#" class="menu-mobile__link">features</a>
      </li>
      <li class="menu-mobile__item">
        <a href="#" class="menu-mobile__link">contact</a>
      </li>
    </ul>
  </nav>

  <div class="main-img__wrap">
    <img class="main__img" src="@img/intro-img 1.png" alt="imtro" />
  </div>
</header>
