@mixin img-cover {
  width: 90%;
  display: block;
  margin: 0 auto;
}
@mixin titeles {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 22px;
}
@mixin titeles-size {
  font-size: 16px;
  line-height: 22px;
}
@mixin link-style {
  list-style: none;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: 1.1px;
  align-items: center;
}
