html 
    head 
        link(href="css/style.min.css")
    body 
        include html/header
        main.page 
            h1 Hello! 
            img(src="@img/img-1.png", alt="d")
        include html/footer
        script(src='js/app.min.js')


//-  подключения несколько частей из папки html