a {
  text-decoration: none;
}

.container {
  width: 1178px;
  margin: 0 auto;
}
.body {
  font-family: Open Sans, sans-serif;
  position: relative;
}
.header {
  background-color: #313131;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 73px;
  z-index: 10;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo:hover {
  transform: translateX(20px);
}
.logo-icon,
.logo-name {
  padding: 22px;
}
.logo-name {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  color: white;
}
.nav-menu {
  display: flex;
  justify-content: center;
}
.nav-link {
  list-style-type: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 16px;
}
.nav-link a {
  color: white;
}
.nav-item:hover {
  color: #14b9d5;
  padding-right: 10px;
}
.search {
  background-color: black;
  display: inline-block;
  padding: 27px;
}

/* ----------nav-scroll ------------*/
.nav-scroll {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #dbd7d7;
  background-color: rgba(248, 227, 227, 0.4);
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 555;
}
.item-scroll {
  font-size: 14px;
  color: #750a0a;
  font-weight: 900;
  z-index: 2;
}
.active {
  border-bottom: 1px solid rgba(87, 11, 11, 0.8);
}
/* .active::after {
  content: "";
  position: absolute;
  border: 30px solid transparent;
  border-top: 10px solid rgba(248, 227, 227, 0.4);
  bottom: -20px;
  left: calc(50% - 10px);
} */

.go-up {
  border-radius: 50%;
  border: 4px dotted rgb(80, 80, 80);
  font-weight: 900;
  color: #6e6868;
  background-color: rgba(248, 227, 227, 0.4);
  position: fixed;
  bottom: 90px;
  right: 20px;
  padding: 20px;
  cursor: pointer;
  /* display: none; */
}
.go-up::after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid rgba(77, 77, 77, 0.4);
  bottom: 65px;
  left: calc(50% - 10px);
  transform: rotate(180deg);
}
.main-title {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/header_bg.jpeg");
  background-size: cover;
  width: 100%;
  height: 369px;
  display: flex;
  flex-direction: column;
}

.title1 {
  padding: 164px 0px 44px 0px;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  line-height: 37px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: white;
  border-radius: 7px;
  border: 0;
  padding: 16px 30px;
  gap: 20px;
}

.btn-subcribe {
  background-color: #89ca62;
}
.btn-articles {
  background-color: #14b9d5;
}
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dbd7d7;
  padding-bottom: 72px;
}
.title2 {
  font-weight: 700;
  font-size: 27px;
  color: #18b4cf;
  text-transform: uppercase;
  text-align: center;
  padding: 52px;
}
.section-item {
  max-height: 900px;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}
.post-item {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #000000;
  display: block;
  padding: 20px 15px;
  box-sizing: border-box;
  width: 370px;
  background-color: white;
  text-align: center;
}
.post:hover {
  transform: scale(1.02);
}
.section-partners {
  background-image: url("../img/parallax-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 600px;
  width: 100%;
}
.title3 {
  padding: 106px 0px 87px 0px;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  line-height: 37px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.blue-line {
  width: 60px;
  height: 3px;
  background-color: #18b4cf;
  margin: 0 auto;
  border: none;
}
.partners {
  padding-top: 106px;
  display: grid;
  grid-template-columns: repeat(4, 232px);
  justify-content: center;
  align-content: center;
}
.partner-item {
  justify-self: center;
  align-self: center;
  margin: auto;
}
.partner-item:hover {
  opacity: 0.6;
}
.header2 {
  position: relative;
}

.button-hide {
  position: absolute;
  padding: 2px 7px;
  left: 50px;
  top: 38px;
  border: 5px solid #18b4cf;
  color: #18b4cf;
  font-size: 18px;
  font-weight: 900;
  font-family: Open Sans, sans-serif;
}
.galery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.galery-items {
  width: 100%;
  align-items: center;
}
.title-news {
  display: inline-block;
}
.new {
  background-color: #f5f1f1;
}
.new:hover {
  transform: scale(1.03);
}
.new-img {
  width: 100%;
}
.section-news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, minmax(210px, auto));
  gap: 20px;
}
.title-news {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #363535;
  display: block;
  padding: 20px 15px;
  background-color: #f5f1f1;
  text-align: center;
}
.news-item1 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.news-item3,
.news-item5 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.news-item4,
.news-item6 {
  grid-column-start: 3;
  grid-column-end: 5;
}
.news-item8 {
  grid-column-start: 2;
  grid-column-end: 5;
}
.disc-news {
  color: #5b6469;
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  font-style: normal;
  line-height: 21px;
  margin: 0 auto 0 10px;
  text-align: right;
}
.news-item1,
.news-item8 {
  display: flex;
  flex-direction: row;
}
.footer {
  margin-top: 71px;
  background-color: #000000;
}
.footer-rights {
  color: white;
  font-weight: 400;
  font-size: 13px;
  padding: 30px 0;
  display: inline-block;
}
.footer-nav {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
}
.footer-logo {
  justify-self: flex-end;
}
