<main>
    <span>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum cumque quis fuga quia repellat cum eum hic inventore consequuntur, laboriosam tempore quod fugiat, sapiente in id. Pariatur
      dolores cupiditate fugiat!
    </span>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sint quibusdam dolores, repellat voluptate veniam libero itaque quisquam autem fuga. Aut tempora omnis expedita dolorum eveniet alias iste veniam quia.</div>
  </main>