ul {
  list-style: none;
  padding-left: 0;
}
.centered-content {
  margin-top: 60px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabs {
  display: flex;
}
.tabs-content {
  margin-top: 30px;
}
.item {
  margin: 0 60px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  font-weight: bold;
}
.tabs-title {
  padding: 30px;
  background-color: #14521b;
  color: #ffffff;
  cursor: pointer;
  border: 2px solid white;
  font-size: 20px;
  font-weight: bold;
}
.tabs-title.active {
  background-color: #f79030;
  color: #050301;
}
/*content*/
.hiding {
  display: none;
}
