
// header
// ._container {
    
    

// }
.header__container{
    display: flex;
    justify-content: center;
    max-width: 1170px;
    margin: 0px auto;
}
.menu__item{
    list-style-type: none;
}
.menu__link{
    color: $menu-color;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 22px;
    width: 400;
}
.menu__item:not(:last-child){
    margin: 0px 68px 0px 0px;
}

// .menu__item:hover{
//     color: #57A4A4;
    
// }

.menu__list{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 51px;
    padding: 45px 15px 51px 15px;
}

@media (max-width: 768px){
    .menu__list{
        padding: 20px 10px 20px 10px;
    }
}

// header

// main