.body * {
  font-family: Montserrat, sans-serif;
}
.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal;
} */

a * {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}
h1 {
  color: #18cfab;
  font-size: 39px;
}
h2 {
  font-size: 36px;
  color: rgba(78, 78, 78, 255);
  text-align: center;
}
.decoration-lines {
  position: relative;
}
.decoration-lines:after {
  content: "";
  border-bottom: 1px solid #18cfab;
  box-shadow: 9px 5px #18cfab;
  width: 76px;
  position: absolute;
  top: 60px;
  left: 48%;
}

.header-navbar {
  background: rgba(94, 93, 88, 0.6);
}
header {
  background-image: url("../img/bg/header_001.jpg");
  height: 1000px;
  background-attachment: fixed;
  margin-bottom: 8px;
}
.header-menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 34px 0;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}
.header-navbar-logo-link {
  display: flex;
  position: relative;
}
.header-logo-title {
  position: absolute;
  top: 19px;
  left: 63px;
  color: white;
  font-weight: 400;
}
.hexagon {
  background-image: url(../img/bg/Hexagon_logo_001.svg);
  width: 58px;
  height: 67px;
}

.main-letter {
  position: absolute;
  font-weight: bold;
  top: 21px;
  left: 12px;
  font-size: 40px;
  color: white;
}

.header-logo-title-name {
  font-weight: bold;
  color: #18cfab;
}
.header-navbar-menu {
  display: flex;
  align-items: baseline;
}
.header-navbar-menu-link {
  text-decoration: none;
  color: #c7c7c7;
  font-weight: 700;
  font-size: 16px;
}
.header-navbar-menu-list {
  list-style: none;
  text-transform: uppercase;
  margin-left: 21px;
}
.header-navbar-menu-list:hover .header-navbar-menu-link {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
  padding-bottom: 56px;
}
.search-icon {
  cursor: pointer;
  margin-left: 21px;
}

.main-titles {
  text-align: center;
  padding-top: 264px;
}
.header-title {
  font-weight: bold;
  font-size: 35px;
  color: white;
  text-transform: uppercase;
}

.header-title-span {
  color: #18cfab;
}
.header-title-subtitle {
  margin-top: 22px;
  font-size: 78px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
.header-subtitlesecond {
  margin-top: 22px;
  text-transform: capitalize;
  font-size: 34px;
  color: #b8b7b7;
  font-weight: 400;
}

.wrapper-header-button {
  /* display: flex;
  justify-content: center;
  gap: 26px; */
  padding-top: 134px;
}
.header-btn {
  box-shadow: 0 -3px 0 white;
  cursor: pointer;
  padding: 17px;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  outline: none;
  color: white;
}
.explore-button {
  background-color: #60dec5;
  font-weight: bold;

  margin-right: 13px;
}
.purchase-button {
  background-color: #00cbf6;
  font-weight: bold;
  margin-left: 13px;
}

.services {
  display: flex;
}
.services-department {
  width: 300px;
  text-align: center;
  flex-grow: 1;
  border-top: 8px solid white;
  background-color: #1c2a33;
  color: #18cfab;
  text-transform: uppercase;
  font-weight: bold;
}
.services-logo {
  padding-top: 95px;
}
.services-department:nth-child(2n) {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #18cfab;
}

.services-title {
  margin-top: 58px;
  white-space: nowrap;
  margin-bottom: 103px;
}
.our-services-content {
  margin-top: 100px;
}
.tabs-items {
  display: flex;
  gap: 7px;
}
.tab-sub-item {
  width: 192px;
  padding: 30px 0px;
  margin-bottom: 23px;
  text-align: center;
  background-color: #f8fcfe;
  color: #686868;
  border: 1px solid #dbe4de;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.tab-sub-item:hover {
  border: 1px solid #18cfab;
}

.tab-sub-item:hover {
  border: 1px solid #18cfab;
}
.active {
  background-color: #18cfab;
}

.active:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #18cfab;
  bottom: -20px;
  left: calc(50% - 10px);
}
.tab-sub-item:hover .tab-sub-item:after {
  color: #18cfab;
}

.service-galery {
  display: flex;
  text-align: justify;
  padding: 23px 0 23px 0;
}
.hidden {
  display: none;
}
.additional-hidden {
  display: none;
}
.our-serv-foto {
  margin-right: 15px;
}
.our-services-description {
  font-size: 14px;
  color: #777777;
  line-height: 24px;
}

.header-2 {
  margin-top: 90px;
  height: 476px;
  background: url("../img/bg/header_002.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.header-2-blackout {
  background-color: rgba(0, 0, 0, 0.7);
  height: 476px;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.title-header-2 {
  text-transform: uppercase;
  font-weight: bold;
}
.header-2-items {
  position: absolute;
  z-index: 2;
}
.header-2-text {
  color: #e2e2e2;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 67px;
}
.btn-purchase-now-header2 {
  text-transform: uppercase;
  text-decoration: none;
  padding: 21px 11px;
}
.our-amazing-work-section {
  background-color: #e9edef;
  padding-top: 98px;
}
.our-amazing-work {
  margin-top: 100px;
  text-align: center;
}

.amasing-work-tabs {
  display: flex;
  justify-content: center;
}
.tabs2-title {
  padding: 24px 20px 20px;
  text-align: center;
  border: 1px solid #dfdfdf;
  cursor: pointer;
}
.tabs2-title:hover {
  color: #18cfab;
  border: 2px solid #18cfab;
}

.img-gallery {
  margin-top: 84px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
/* .load-more-foto-onclick {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} */

.img-gallery-item {
  position: relative;
}
.img-gallery-picture {
  display: block;
  width: 100%;
}

.advertising-transition {
  border-top: 3px solid #18cfab;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e9edef;
  flex-direction: column;
  padding-top: 46px;
  opacity: 0;
  transition: opacity 0.5s;
}
.img-galery-link-first,
.img-galery-link-second {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.img-galery-link-first {
  background-image: url("../img/link-for-hover-amazing-work-001.png");
}
.img-galery-link-second {
  background-image: url("../img/link-for-hover-amazing-work-002.png");
}

.advertising-transition:hover {
  opacity: 1;
}
.img-link {
  width: 84px;
  height: 41px;
}

.service-order-creative {
  color: #18cfab;
  font-weight: bold;
  margin-top: 34px;
  margin-bottom: 18px;
  white-space: nowrap;
  font-size: 18px;
}
.service-order-web {
  color: #afb0b1;
  white-space: nowrap;
  font-size: 15px;
}

.div-on-hover {
  width: 285px;
  height: 207px;
  font-size: 19px;
  color: #afb0b1;
  background-color: #e9edef;
  border-top: 2px solid #18cfab;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  outline: none;
}
.creative-design {
  padding-top: 106px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #18cfab;
  margin-bottom: 10px;
}
.div-on-hover-icons {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  background-color: #18cfab;
  margin-right: 5px;
  text-align: center;
  line-height: 2em;
  border: 2px solid #18cfab;
  cursor: pointer;
}

.div-on-hover-icons:hover {
  color: #18cfab;
  background-color: white;
  border: 2px solid #18cfab;
}

.load-more-btn {
  height: 63px;
  width: 168px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: #18cfab;
  margin-top: 70px;
  margin-bottom: 100px;
  position: relative;
}
.load-more-btn-text {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 63px;
  padding-left: 25px;
}
.load-more-btn::before {
  content: "+";
  position: absolute;
  top: 8px;
  left: 22px;
  font-size: 38px;
  font-weight: bold;
  color: white;
}

.breaking-news-section {
  margin-top: 82px;
  margin-bottom: 128px;
}

.breaking-news-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  align-content: space-between;
  column-gap: 35px;
  row-gap: 42px;
}

.breaking-news-post {
  border: 1px solid #ffffff;
  position: relative;
  transition: transform 1s linear;
  overflow: hidden;
  text-decoration: none;
}

.breaking-news-post-lable {
  height: 68px;
  width: 67px;
  background-color: #203e38;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.breaking-news-post-header {
  color: #717171;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 15px;
}

.breaking-news-post-text {
  color: #717171;
  font-size: 14px;
  padding-left: 15px;
  padding-bottom: 12px;
}

.breaking-news-post-text > span {
  padding-left: 50px;
}

.breaking-news-post-text:after {
  content: "";
  display: inline-block;
  border-right: 1px solid #717171;
  height: 14px;
  box-sizing: border-box;
  position: absolute;
  left: 107px;
}
.breaking-news-post:hover .breaking-news-post-header {
  color: #18cfab;
}
.breaking-news-post:hover .breaking-news-post-lable {
  background-color: #18cfab;
}

/*--------------What People Say About theHam----------------*/

.section-3 {
  background: url("../img/bg/header_003.jpg") center no-repeat;
  background-size: cover;
}

.section-3-blackout {
  background-color: rgba(0, 0, 0, 0.3);
}
.section-3-content {
  padding-bottom: 95px;
}
.title-section3-wrap {
  padding-top: 98px;
}
.title-section3 {
  color: white;
}
.quotes {
  display: block;
  width: 47px;
  height: 33px;
  margin: 0 auto;
  margin-top: 100px;
}
.reviews-text {
  color: #bcc5c5;
  line-height: 30px;
  padding: 36px 0;
}
.reviews-name {
  color: #18cfab;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
.reviews-position {
  color: #bcc5c5;
  padding-top: 20px;
  padding: 36px 0 38px 0;
}
.reviews-image {
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(15, 155, 127, 0.2);
  width: 152px;
  height: 152px;
}
.slide-item-small {
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(15, 155, 127, 0.2);
}

/*-----SLIDER DESCRIPTION-------*/
.slider-description-item {
  text-align: center;
}
.slider-description .slick-list {
  overflow: hidden;
}
.slider-description .slick-track {
  display: flex;
  justify-content: center;
}
.slider-description .slider-description-item {
  align-items: center;
}

/*-----SLIDER BIG-------*/

.slider-small-wrap {
}
.slider-big {
  width: 166px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/*-----SLIDER SMALL-------*/
.slider-small {
  margin: 0 auto;
  width: 350px;
  overflow-x: hidden;
}
.slide-item-small {
  display: inline-block;
  max-width: 60px;
  min-height: 60px;
}
.slider-small .slick-list {
  overflow-x: hidden;
}
.slider-small .slick-track {
  height: 88px;
  display: flex;
  align-items: center;
}
.arrow-handmade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  background-color: rgba(129, 129, 129, 0.1);
  color: #afb0b1;
  font-size: 30px;
  border: 1px solid rgb(131, 131, 131);
}
.wrapper-slider-small {
  position: relative;
}
.arrow-handmade-prev {
  position: absolute;
  top: 30px;
  left: 340px;
}
.arrow-handmade-next {
  position: absolute;
  top: 30%;
  right: 360px;
}
.slider-small .slick-track {
  display: flex;
  justify-content: space-between;
}
.arrow-handmade-prev:hover {
  background-color: #18cfab;
}
.arrow-handmade-next:hover {
  background-color: #18cfab;
}
.moveTop {
  align-self: flex-start;
}

/* -------Gallery of the best images-----------*/
.gallery-best-img {
  margin-top: 112px;
}
.grid {
  padding-top: 112px;
  /* display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: masonry; */
  display: flex;
  flex-flow: row wrap;
  max-height: 921px;
  margin-left: -21px;
}

.content-block {
  display: inline;
}
.content-block-9 {
  display: inline-block;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer {
  background-color: #22353f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 47px 0;
  margin-top: 83px;
}
.highlighted-theHam {
  color: #18cfab;
}
.law-rights {
  color: #929698;
  font-size: 14px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
