body {
  padding-top: 30px;
  padding-left: 30px;
}
.password-form {
  display: flex;
  flex-direction: column;
}
.input-wrapper {
  position: relative;
  width: 200px;
}

.input-wrapper input {
  display: block;
  width: 175px;
  height: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.input-wrapper i {
  position: absolute;
  right: 25px;
  top: 30px;
  color: rgb(69, 152, 185);
}

.btn {
  width: 150px;
  border: 1px solid rgb(157, 175, 231);
  color: slateblue;
}
