.container {
  width: 1280px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}
.logo {
  padding: 63px 0 40px;
}
.logo-title {
  text-decoration: none;
  font-size: 80px;
  color: rgb(59, 180, 236);
}
.capital-letter {
  color: black;
}
.nab-bar {
  background-color: #35444f;
}
.navigation-menu {
  display: flex;
  justify-content: center;
}
.link {
  list-style-type: none;
  display: inline-block;
  padding: 26px 32px 19px 32px;
  font-size: 24px;
  color: #ffffff;
  border-left: 1px solid grey;
}
.link:nth-last-child(1) {
  border-right: 1px solid grey;
}
.link:hover {
  background-color: #222f3a;
}
.main {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 54px;
}
.aside-item {
  list-style-type: none;
  font-size: 27px;
  color: #495863;
  padding: 26px 0 26px 38px;
}
.aside-bar {
  width: 344px;
  border: 1px solid rgb(126, 125, 125);
}
.image-bordered {
  width: 885px;
}
.img {
  height: 529px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a8a6a6;
}
.aside-item:hover {
  font-weight: bold;
  padding-left: 70px;
  background-color: #dbdbdb;
}
.article {
  padding-top: 25px;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  color: #2c2c2c;
}
.footer {
  box-sizing: border-box;
  background-color: rgba(99, 105, 110, 0.48);
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
}
.nav-footer {
  width: 875px;
  display: flex;
  justify-content: space-between;
}
.link-footer {
  padding: 20px 0;
  color: #0c1927;
  list-style-type: none;
}
.link-footer:hover {
  color: rgb(11, 136, 167);
  text-decoration: underline;
}
