<footer class="footer">
    <div class="footer__conteiner">
        <h1 class="footer__titel">- get in touch with us -</h1>
        <p class="footer__text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
        <img src="@img/icon.png" alt="" class="footer__icon">
    </div>
</footer>
