<header class="header">
    <div class="header__container ">
        <nav class="header__menu menu">
            <ul class="menu__list">
                <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
                <li class="menu__item"><a href="#" class="menu__link">About Us</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Our Journal</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Projects</a></li>
                <li class="menu__item"><a href="#" class="menu__link">news</a></li>
                <li class="menu__item"><a href="#" class="menu__link">features</a></li>
                <li class="menu__item"><a href="#" class="menu__link">contact</a></li>
            </ul>
        </nav>
    </div>
</header>
