<main class="main">
    <div class="main__container _containe">
      <img class="main__img" src="@img/intro-img 1.png" alt="imtro">

      <div class="main__post post">
        <h1 class="post__titel">- our Recent posts</h1>
        <img class="post__img" src="@img/post_01.png" alt="post_01">
        <h2 class="post__titel-h2">Aenean Adipiscing Etiam Vestibulum</h2>
        <p class="post__item">Photography, Journal   /   9 Comments</p>
        <p class="post__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>
      
      <div class="main__post post">
        <img class="post__img" src="@img/post_02.png" alt="post_01">
        <h2 class="post__titel-h2">Aenean Adipiscing Etiam Vestibulum</h2>
        <p class="post__item">Photography, Journal   /   9 Comments</p>
        <p class="post__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>

      <div class="main__post post">
        <img class="post__img" src="@img/post_03.png" alt="post_01">
        <h2 class="post__titel-h2">Aenean Adipiscing Etiam Vestibulum</h2>
        <p class="post__item">Photography, Journal   /   9 Comments</p>
        <p class="post__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>

      <div class="main__post post">
        <img class="post__img" src="@img/post_04.png" alt="post_01">
        <h2 class="post__titel-h2">Aenean Adipiscing Etiam Vestibulum</h2>
        <p class="post__item">Photography, Journal   /   9 Comments</p>
        <p class="post__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>
      <section class="main__insta img-insta">
        <p class="img-insta__titel">- Latest Instagram Shots</p>
        <a href="#" class="img-insta__link"><img class="img-insta__img" src="@img/inst_01.png" alt="insta"></a>
        <a href="#" class="img-insta__link"><img class="img-insta__img" src="@img/insta_02.png" alt="insta"></a>
        <a href="#" class="img-insta__link"><img class="img-insta__img" src="@img/insta_03.png" alt="insta"></a>
        <a href="#" class="img-insta__link"><img class="img-insta__img" src="@img/insta_04.png" alt="insta"></a>
        <p class="img-insta__titel">go to our instagram page -</p>
      </section>
    </div>
  </main>