a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
}
:root {
  --primary-color: #f26522;
  --transition-speed: 0.4s;
}
.container {
  width: 1350px;
  margin: 0 auto;
}
.background {
  background-image: url("../img/background_1.png");
  height: 768px;
}
.header {
  padding: 51px 165px 17px 165px;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  position: relative;
}
.logo-icon {
  width: 53px;
  height: 53px;
}
.second-icon {
  position: absolute;
  left: 0px;
  z-index: -1;
}
.logo-name-item1,
.logo-name-item2 {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-style: normal;
}
.logo-name-item1 {
  font-size: 29px;
  line-height: 25px;
}
.logo-name-item2 {
  font-size: 18px;
  line-height: 18px;
}
.logo:hover .selector-hover {
  color: #f26522;
  transition: 0.4s;
  z-index: 2;
}
.contact-mail,
.contact-tel {
  display: block;
  text-align: right;
  font-size: 18px;
  line-height: 18px;
  color: white;
}
.contact-mail {
  padding-bottom: 20px;
}
.contact-mail:hover {
  color: var(--primary-color);
  transition: var(--transition-speed);
}
.contact-tel:hover {
  color: var(--primary-color);
  transition: var(--transition-speed);
}
.service-galery {
  padding: 0 165px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 78px 62px;
}
.product-service {
  color: white;
  position: relative;
}
.photo-service-item {
  width: 295px;
}
.service-name-hover {
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: -56px;
  margin: 0 auto;
  color: #f26522;
}
.service-name {
  position: absolute;
  bottom: -32px;
  left: 92.5px;
}
.price-product {
  position: absolute;
  box-sizing: border-box;
  width: 295px;
  height: 55px;
  bottom: 5px;
  right: 2px;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
  padding: 10px 12px;
  background-color: var(--primary-color);
  visibility: hidden;
}
.price {
  font-size: 10px;
  grid-column-start: 1;
  grid-column-end: 3;
}
.price-tag {
  font-size: 20px;
}
.go-to-details {
  font-size: 14px;
  justify-self: center;
  align-self: flex-end;
}
.go-to-details::after {
  content: url(" ../img/Vector_1.png ");
  margin-left: 16px;
}

.product-service:hover > .price-product {
  visibility: visible;
  text-decoration-color: #f26522;
  transition: var(--transition-speed);
  z-index: 3;
}
.service-name-hover:hover {
  color: var(--primary-color);
  transition: var(--transition-speed);
}
.product-service:hover > .service-name {
  z-index: -1;
}
.footer {
  color: white;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  padding-top: 90px;
}
