.body {
  background-color: rgb(32, 30, 30);
  font-family: bold;
}
.wrapper {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 15em;
  height: 50em;
  transform: perspective(300px) rotateX(21deg);
  transform-origin: 50% 100%;
  overflow: hidden;
  font-size: 350%;
  line-height: 1.5em;
  margin-left: -8em;
}
.animation-scrolling {
  text-align: justify;
  color: yellow;
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: scrolling-text 30s infinite linear;
  top: 100%;
}
.main-title,
.title {
  text-align: center;
}
@keyframes scrolling-text {
  from {
    top: 100%;
  }
  to {
    top: -100%;
  }
}
