* {
    margin: 0;
    padding: 0;
}
 body {
     background-color: rgb(27, 27, 27);
 }
.list {
    text-align: center;
    padding: 25.5px;

}
.box{
    color: #3aff20;
}
.list-menu a {
    text-decoration: none;
    color: #3aff20;
    
}
.list-menu {
    display: inline;
    margin-right: 72px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
   
 }

li:last-child {
    margin-right: 0px;
}


.img {
    display: block;
    margin: 0 auto;
    width: 1280px;
    height: 789px;
}
.titel {
    text-align: center;
    margin: 49px auto 38px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
.text-titel-one{
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 26px;
    margin: 0px 67.5px 28px;
}
.text-titel-two{
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 26px;
    margin: 0px 67.5px 84px;
}
.changeBtn{
    margin-top: 25px;
}
.button-update {
    text-transform: uppercase;
    background: #3aff20;
    color: rgb(27, 27, 27);
    text-align: center;
    width: 191px;
    height: 51px;
    display: block;
    margin: 0px auto 82px;
    border: none;
    border-radius: 4px;
}
.changeBtn{
    margin-top: 25px;
}
.button-titel {
    text-transform: uppercase;
    background: #3aff20;
    color: rgb(27, 27, 27);
    text-align: center;
    width: 191px;
    height: 51px;
    display: block;
    margin: 0px auto 82px;
    border: none;
    border-radius: 4px;
}

.text-titek-three {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 19.5px;
    text-align: right;
    padding: 0px 105px 29px 713px;
    font-weight: bold;
}