<div class="content">
    <h2>- our Recent posts</h2>
    <div>
        <img src="@img/img-1.png" alt="img-1">
        <h3>Aenean Adipiscing Etiam Vestibulum</h3>
        <p>Photography, Journal / 9 Comments</p>
        <p>Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
            vestibulum.</p>
    </div>

    <div>
        <img src="@img/img-2.png" alt="img-1">
        <h3>Aenean Adipiscing Etiam Vestibulum</h3>
        <p>Photography, Journal / 9 Comments</p>
        <p>Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
            vestibulum.</p>
    </div>

    <div>
        <img src="@img/img-3.png" alt="img-1">
        <h3>Aenean Adipiscing Etiam Vestibulum</h3>
        <p>Photography, Journal / 9 Comments</p>
        <p>Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
            vestibulum.</p>
    </div>

    <div>
        <img src="@img/img-1.png" alt="img-1">
        <h3>Aenean Adipiscing Etiam Vestibulum</h3>
        <p>Photography, Journal / 9 Comments</p>
        <p>Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
            vestibulum.</p>
    </div>
</div>