<header>
    <ul>
        <li><a href="#"></a>Home</li>
        <li><a href="#"></a>About Us</li>
        <li><a href="#"></a>Our Journal</li>
        <li><a href="#"></a>Projects</li>
        <li><a href="#"></a>news</li>
        <li><a href="#"></a>features</li>
        <li><a href="#"></a>features</li>
       
        <img src="@img/img-1.png" alt="23">
    </ul>
    <img src="@img/img-start.png" alt="">
</header>